@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200;300;400;600;700&display=swap');

.App {
  text-align: center;
  justify-content: center;
  
  margin: 0;
  /* padding: 50px; */
}

*{
  background-color: #f5f6f8;
  color: black;
  font-family: 'Kulim Park', sans-serif;
}

h1{
  font-size: 55px;
  margin: 50px auto;
  font-weight: 700;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 10px;

}

::-webkit-scrollbar-thumb{
  background-color: rgb(79, 78, 78);
  border-radius: 20px;
}

